footer{
    padding: 60px 0 0 0;
    background-color: #f6f4f9;
    .head-title{
        font-size: 48px;
        font-weight: 900;
        line-height: 1;
        .subtitle{
            font-size: 18px;
            font-weight: 400;
            display:block;
            margin-bottom: 15px;
        }
        .break{
            color:$primary-color;
        }
    }
    .map-wrapper{
        overflow: hidden;
        border-radius: 8px;
    }
    .contact_info_sec{
        h4{
            font-weight: 900;
            text-transform: uppercase;
            margin-bottom: 15px;
        }
        a{
            color:$black-color;
        }
        .info_single{
            margin-bottom: 10px;
        }
    }
}