// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
* Set up a decent box model on the root element
*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
  font-weight: 300;
  color: $text-color;
}
body {
  font-size: 16px;
  font-weight: 400;
  font-family: $text-font-stack;
  line-height: 1.8;
  background-color: rgb(255, 255, 255);
}

/**
* Make all elements from the DOM inherit from the parent box-sizing
* Since `*` has a specificity of 0, it does not override the `html` value
* making all elements inheriting from the root box-sizing value
* See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/**
* Basic styles for links
*/
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

body {
  color: $text-color;
  
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}
