// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// @type List
$text-font-stack: 'Satoshi', sans-serif;

/// Code (monospace) font family
/// @type List
$title-font-stack: 'Satoshi', sans-serif;

/// Copy text color
/// @type Color
// $text-color: #121416 !default;
$text-color: #2A2B2A !default;
/// Main brand color
/// @type Color
$black-color: #0E0101;
$white-color: #FFFFFF;
$secondary-white:#fef3dd;

$primary-color:#62101e;
$secondary-color:#ff9c9f;
$primary-accent:#FB9206;
$secondary-accent:#fef3dd;
